streamlit
langchain
langchain-groq
langchain-openai
langchain-community
chromadb>=0.6.0
langsmith
pypdf
langchain-ollama
langchain-chroma
python-dotenv
protobuf>=5.26.1
langchain-text-splitters
langgraph